<template x-component.unwrap="image-clip-paths">
   <svg aria-hidden="true" width="0" height="0" >
      <defs>
        <clipPath id={`${id}-0`} clipPathUnits="objectBoundingBox">
          <path d="M0,0 h0.729 v0.129 h0.121 l-0.016,0.032 C0.815,0.198,0.843,0.243,0.885,0.243 H1 v0.757 H0.271 v-0.086 l-0.121,0.057 v-0.214 c0,-0.032,-0.026,-0.057,-0.057,-0.057 H0 V0" />
        </clipPath>
        <clipPath id={`${id}-1`} clipPathUnits="objectBoundingBox">
          <path d="M1,1 H0.271 v-0.129 H0.15 l0.016,-0.032 C0.185,0.802,0.157,0.757,0.115,0.757 H0 V0 h0.729 v0.086 l0.121,-0.057 v0.214 c0,0.032,0.026,0.057,0.057,0.057 h0.093 v0.7" />
        </clipPath>
        <clipPath id={`${id}-2`} clipPathUnits="objectBoundingBox">
          <path d="M1,0 H0.271 v0.129 H0.15 l0.016,0.032 C0.185,0.198,0.157,0.243,0.115,0.243 H0 v0.757 h0.729 v-0.086 l0.121,0.057 v-0.214 c0,-0.032,0.026,-0.057,0.057,-0.057 h0.093 V0" />
        </clipPath>
      </defs>
    </svg>
</template>
<template x-component="speakers">

   <script>
      const andrewGreeneImage = '/images/avatars/andrew-greene.jpg'
      const cathleneBurrageImage = '/images/avatars/cathlene-burrage.jpg'
      const damarisKimuraImage = '/images/avatars/damaris-kimura.jpg'
      const dianneGuilianelliImage = '/images/avatars/dianne-guilianelli.jpg'
      const erhartCockrinImage = '/images/avatars/erhart-cockrin.jpg'
      const giordanoSagucioImage = '/images/avatars/giordano-sagucio.jpg'
      const gordonSandersonImage = '/images/avatars/gordon-sanderson.jpg'
      const heatherTerryImage = '/images/avatars/heather-terry.jpg'
      const ibrahimFraschImage = '/images/avatars/ibrahim-frasch.jpg'
      const jaquelinIschImage = '/images/avatars/jaquelin-isch.jpg'
      const kimberlyParsonsImage = '/images/avatars/kimberly-parsons.jpg'
      const parkerJohnsonImage = '/images/avatars/parker-johnson.jpg'
      const piersWilkinsImage = '/images/avatars/piers-wilkins.jpg'
      const richardAstley = '/images/avatars/richard-astley.jpg'
      const rinaldoBeynonImage = '/images/avatars/rinaldo-beynon.jpg'
      const ronniCantadoreImage = '/images/avatars/ronni-cantadore.jpg'
      const stevenMchailImage = '/images/avatars/steven-mchail.jpg'
      const waylonHydenImage = '/images/avatars/waylon-hyden.jpg'
      const days = [
         {
            name: 'Opening Day',
            date: 'April 4',
            dateTime: '2022-04-04',
            speakers: [
               {
                  name: 'Steven McHail',
                  role: 'Designer at Globex Corporation',
                  image: stevenMchailImage,
               },
               {
                  name: 'Jaquelin Isch',
                  role: 'UX Design at InGen',
                  image: jaquelinIschImage,
               },
               {
                  name: 'Dianne Guilianelli',
                  role: 'General Manager at Initech',
                  image: dianneGuilianelliImage,
               },
               {
                  name: 'Ronni Cantadore',
                  role: 'Design Engineer at Weyland-Yutani',
                  image: ronniCantadoreImage,
               },
               {
                  name: 'Erhart Cockrin',
                  role: 'Product Lead at Cyberdyne Systems',
                  image: erhartCockrinImage,
               },
               {
                  name: 'Parker Johnson',
                  role: 'UI Designer at MomCorp',
                  image: parkerJohnsonImage,
               },
            ],
         },
         {
            name: 'Speakers & Workshops',
            date: 'April 5',
            dateTime: '2022-04-05',
            speakers: [
               {
                  name: 'Damaris Kimura',
                  role: 'Senior Engineer at OCP',
                  image: damarisKimuraImage,
               },
               {
                  name: 'Ibrahim Frasch',
                  role: 'Programmer at Umbrella Corp',
                  image: ibrahimFraschImage,
               },
               {
                  name: 'Cathlene Burrage',
                  role: 'Frontend Developer at Buy n Large',
                  image: cathleneBurrageImage,
               },
               {
                  name: 'Rinaldo Beynon',
                  role: 'Data Scientist at Rekall',
                  image: rinaldoBeynonImage,
               },
               {
                  name: 'Waylon Hyden',
                  role: 'DevOps at RDA Corporation',
                  image: waylonHydenImage,
               },
               {
                  name: 'Giordano Sagucio',
                  role: 'Game Developer at Soylent Corp',
                  image: giordanoSagucioImage,
               },
            ],
         },
         {
            name: 'Interviews',
            date: 'April 6',
            dateTime: '2022-04-06',
            speakers: [
               {
                  name: 'Andrew Greene',
                  role: 'Frontend Developer at Ultratech',
                  image: andrewGreeneImage,
               },
               {
                  name: 'Heather Terry',
                  role: 'Backend Developer at Xanatos Enterprises',
                  image: heatherTerryImage,
               },
               {
                  name: 'Piers Wilkins',
                  role: 'Full stack Developer at BiffCo',
                  image: piersWilkinsImage,
               },
               {
                  name: 'Gordon Sanderson',
                  role: 'Mobile Developer at Cobra Industries',
                  image: gordonSandersonImage,
               },
               {
                  name: 'Kimberly Parsons',
                  role: 'Game Developer at Tyrell Corporation',
                  image: kimberlyParsonsImage,
               },
               {
                  name: 'Richard Astley',
                  role: 'CEO at Roll Out',
                  image: richardAstley,
               },
            ],
         },
      ]
      return {
         'x-data': {
            days
         }
      }
   </script>
</template>